/* .seeAllWork:hover {
    background-color: "#004268" !important;
    color: "white" !important;
}
@media (min-width: 768px) and (max-width: 992px) {
    width: 500,
},
@media (min-width: 576px) and (max-width: 768px) {
    width: 400,
    fontSize: 60,
},
@media (min-width: 200px) and (max-width: 576px) {
    width: 200,
    fontSize: 40,
} */