/* .seeAllWork:hover {
    background-color: "#004268" !important;
    color: "white" !important;
} */
/* @media (min-width: 768px) and (max-width: 992px) {
    .featuredText {
        left: "-100px" !important;
        width: "550px";

    }
}
@media (min-width: 576px) and (max-width: 768px) {

}
@media (min-width: 200px) and (max-width: 576px) {

} */